= render 'news/navbar'
.container
  .row
    .col-md-8
      %table.table
        %tr.info
          %td Документы
          %td
        - @docs.each do |doc|
          %tr
            %td 
              = doc.title
            %td 
              = link_to 'edit', edit_doc_path(doc)
              = link_to 'destroy',doc, method: :delete, data: {confirm: 'Are you sure?'} 
=link_to 'new', new_doc_path
= render 'news/footer'
