= render 'navbar' 
.container
  .panel.panel-default
    %p
      = link_to content_tag('span','', class: 'glyphicon glyphicon-plus'), new_news_path 
    - @news.each do |new| 
      = link_to content_tag('span','',class: 'glyphicon glyphicon-pencil'), edit_news_path(new) 
      = link_to content_tag('span','',class: 'glyphicon glyphicon-remove'), new, method: :delete, data: { confirm: 'Are you sure ?' } 
      %h3.text-center 
        = new.title
      %p.text-center
        = new.description 
      %hr
